<footer>
  <hr />
    <div class="row" id="footer">
      <div class="col-md-6"><h4 class="text-center">Contact Info</h4><p class="text-center">242 Rangeline Road Longwood, FL<br />Phone: <strong>(407)</strong>-260-1011<br />Email: info@csilongwood.com</p></div>
      <div class="col-md-6">
        <h4 class="text-center">Connect</h4>
        <div style="margin-left:43%;">
         <a href="https://twitter.com/CSI_Longwood?lang=en" target="_blank"><img class="center-img" src="/img/Twitter-icon.png" width="50px" style="display:inline-block;"/></a>
         <a href="https://www.linkedin.com/company/436102/" target="_blank"><img class="center-img" src="/img/linked.png" width="50px" style="display:inline-block;"/></a>
        </div>
      </div>
    </div>
  </footer>