<div class="container-fluid" style="padding-left:35px;padding-top:0px;">
  <header>
      <div class="row">
        <div class="col-sm-3">
          <a href="/"><img src="/img/csi_logo.png" style="height:135px;padding-left:15px;"></a>
        </div>
        <div id="header-wrapper">
          <div class="col-sm-3">
            <p class="text-center">242 Rangeline Road Longwood, FL<br />Phone: <strong>(407)</strong>-260-1011<br />Email: info@csilongwood.com</p>
          </div>
            <div class="col-sm-3">
              <a href="/map"><button id="chat-button" class="btn btn-primary">Agency Links Map</button></a>
            </div>
            <div class="col-sm-3">
              <a href="/under_construction"><button id="chat-button" class="btn btn-primary">Tax Rate Lookup</button></a>
            </div>
        </div>
      </div>
  </header>
</div> 
<div>
<hr style="margin:7px;" />
      <div class="row"> 
        <div class="col-md-12" style="padding-left:55px;">
          <div class="center-img">
            <ul id="nav-links" style="margin:0; padding:0;">
              <li>
                <div class="dropdown">
                  <p class="dropbtn"><a href="/conference_2018">2018 Conference</a></p>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <p class="dropbtn"><a href="/about">About Us</a></p>
                  <div class="dropdown-content">
                    <a href="/about#commitment">Commitment</a>
                    <a href="/about#history">History</a>
                    <a href="/about#leadership">Leadership</a>
                    <a href="/about#team">Team</a>
                    <a href="/about#client_perspective">Client Perspective</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <p class="dropbtn"><a href="/services">Services</a></p>
                  <div class="dropdown-content">
                    <a href="/services#state_registration_reporting">State Registration/Reporting</a>
                    <a href="/services#fcc_registration_reporting">FCC Registration/Reporting</a>
                    <a href="/services#tax_exemption_management">Tax Exemption Management</a>
                    <a href="/services#transactional_tax_reporting">Transactional Tax Reporting</a>
                    <a href="/services#treasury_management">Treasury Management</a>
                    <a href="/services#audit_defense">Audit Defense</a>
                    <a href="/services#corporate_property_tax">Corporate Tax</a>
                    <a href="/services#property_tax">Property Tax</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <p class="dropbtn"><a href="/tax_rating_billing_solutions">Tax Rating/Billing Solutions</a></p>
                  <div class="dropdown-content">
                    <a href="/tax_rating_billing_solutions#tax_rating">Tax Rating</a>
                    <a href="/tax_rating_billing_solutions">Billing Solutions</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <p class="dropbtn"><a href="/research_center">Research Center</a></p>
                  <div class="dropdown-content">
                    <a href="/research_center#recent_news">Recent News</a>
                    <a href="/research_center#search">Search</a>
                    <a href="/map">Agency Links</a>
                  <p class="dropbtn"><a href="/">Research Center</a></p>
                  <div class="dropdown-content">
                    <a href="/">Recent News</a>
                    <a href="/">Search</a>
                  </div>
                </div>
              </li>
               <li>
                <div class="dropdown">
                  <p class="dropbtn"><a href="/events">Events</a></p>
                  <div class="dropdown-content">
                    <a href="#">2018 Schedule</a>
                    <a href="#">Request A Meeting</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <p class="dropbtn"><a href="/contact">Contact Us</a></p>
                  <div class="dropdown-content">
                    <a href="/contact#info">Company Information</a>
                    <a href="/contact#map">Google Map</a>
                    <a href="/contact#directions">Office Directions</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="dropdown">
                  <p class="dropbtn"><a href="/under_construction">Client Area</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
</div>
