<style>
	#about_dropdown{
		background-color: #3e8e41;
    	color:white;
	}
	#about-heading {
		background-image: url('img/meeting.jpeg');
		height: 300px;
		margin-bottom: 15px;
	}
</style>

<!--Heading-->
<div class="row">
	<div class="col-md-12" id="about-heading">
		<h2 style="margin-top:75px;text-align:center;">About Us</h2>
	</div>
</div>

<!--Mission Statement-->
<div id="commitment" class="row">
	<div class="col-md-8 col-md-offset-2">
			<h4 class="left-heading">Commitment</h4>
			<p class="about-text">Our commitment to our clients is to be the industry leader in providing comprehensive client-centered compliance, accounting, tax, and business advisory services that exceed our client expectations and industry standards. We strive to serve our valued clients as trusted advisors, helping them to achieve their full financial potential and operational needs. We accomplish this mission by utilizing a highly experienced team approach, retaining exceptional talent and offering a depth and breadth of resources to our clients unmatched in the industry. We do not strive to be the largest firm in the industry but we do focus on providing customer service that is second to none.</p>
	</div>
	<div class="col-md-10 col-md-offset-1" style="height:10px;background-color: #509099;margin-top:8px;margin-bottom: 8px;">
	</div>
</div>
 

<!--History-->
<div id="history" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="left-heading">Company History</h4>
		<p class="about-text">Compliance Solutions, Inc. was established in 2002 by a group of industry experts to provide comprehensive solutions for all of your compliance, accounting, and tax needs. Founded by Mark Lammert CPA whose experience in telecom tax began in 1987 at Ernst & Young (formerly Arther Young & Co.), then continued in accounting, tax management, and business development at a large local incumbent exchange carrier. We recognize that each client has unique goals and/or needs for their business, so we tailor our services to meet your specific needs and approach each client relationship as if we were your business partners. In order to provide such specialized assistance, we take the time to develop a deep understanding of your business and goals on a one-on-one basis to help streamline the associated processes for all your Compliance, Tax and Accounting requirements. With our hands on-approach to client service, and experience in the accounting and business field, we strive to be a full service provider that serves you, the client, in a professional and responsive manner while providing the quality solutions to deliver your business with more effective and efficient tax and compliance solutions.</p>
	</div>
	<div class="col-md-10 col-md-offset-1" style="height:10px;background-color: #509099;margin-top:8px;margin-bottom: 8px;"></div>
</div>

<div id="founder" class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="left-heading">Founder: Mark Lammert</h4>
		<div class="col-md-4">
			<img src="img/headshots/mark_lammert.jpg" alt="" class="center-img headshot-large" style="margin-top:30px;"/>
		</div>
		<div class="col-md-8" id="founder-desc"><p>Mark Lammert CPA has over 30+ years of telecom & tax experience which started in the competitive environment following the 1984 breakup of AT&T and the "Baby Bells".  Mark is a CPA in both Florida (1991) and Missouri (1987).  He is a member of the American Institute of Certified Public Accountants.  Mark joined the Tulsa office of Arthur Young & Company in May 1987 (Ernst & Young 1989). Mark spent 6+ years in the 1990s as a Tax Manager at an Incumbent Local Exchange Carrier.  

During his career, Mark has worked in various capacities in both public and private accounting ventures including internal audit, several accounting management roles, strategic business planning, and creation of systems & processes for tax compliance. While in public accounting, Mark has served many audit clients in various industries, such as telecommunications, retail, construction accounting, and public utilities. Mark has significant experience with all sized clients and various roles of support to the clients.

Mark is an active marathon runner and sports enthusiasts. Mark has completed over 35 marathons across the USA and has completed all 25 of the Walt Disney World marathons.
</p></div>
	</div>
	<div class="col-md-10 col-md-offset-1" style="height:10px;background-color: #509099;margin-top:8px;margin-bottom: 8px;"></div>
	</div>
</div>



<!--Leadership-->
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4 class="left-heading">Some Members of the CSI Team</h4>
	</div>
	<div class="col-md-10 col-md-offset-1" id="profiles">
		<div class="col-md-4">
		  <img src="img/headshots/kristin_hoover.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Kristin Hoover</h5>
		</div>

	<!--First Row-->
		<% if Date.today().wday.even? %>
		<div class="col-md-4">
		  <img src="img/headshots/chuck_cowan.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Chuck Cowan</h5>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/wes_estes.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Wes Estes</h5>
		</div>

		<% else %>
		<div class="col-md-4">
		  <img src="img/headshots/steve_davis.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Steve Davis</h5>		
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/jarrod_perry.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Jarrod Perry</h5>
		</div>
		<% end %>

	<!--Second Row-->
	<% if Date.today().wday < 2 %>
		<div class="col-md-4">
		  <img src="img/headshots/dan_barber.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Dan Barber</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/mike_galante.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Mike Galante</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/jeremy_batten.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Jeremy Batten</h5>
		  <p class="text-center"></p>
		</div>
	<% elsif Date.today().wday < 4 %>
		<div class="col-md-4">
		  <img src="img/headshots/kathy_yakel.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Kathy Yakel</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/david_resh.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">David Resh</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/alyssa_galante.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Alyssa Galante</h5>
		  <p class="text-center"></p>
		</div>
	<% else %>
		<div class="col-md-4">
		  <img src="img/headshots/johnathan_miller.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Jonathan Miller</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/jodie_grimshaw.jpg" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Jodie Grimshaw</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/meghan_resh.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Meghan Resh</h5>
		  <p class="text-center"></p>
		</div>

	<% end %>




	<!--Third Row-->
	<% if Date.today().wday == 1 %>
		<div class="col-md-4">
		  <img src="img/headshots/eric_stinson.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Eric Stinson</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/dan_barber.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Dan Barber</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/aaron_banks.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Aaron Banks</h5>
		  <p class="text-center"></p>
		</div>
			<% end %>
	<% if Date.today().wday == 2 %>
		<div class="col-md-4">
		  <img src="img/headshots/tim_boone.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Tim Boone</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/tim_hoover.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Tim Hoover</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/keri_smith.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Keri Smith</h5>
		  <p class="text-center"></p>
		</div>

			<% end %>
	<% if Date.today().wday == 3 %>
		<div class="col-md-4">
		  <img src="img/headshots/judy_skinner.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Judy Skinner</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/jessica_howard.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Jessica Howard</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/carole_hoover.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Carole Hoover</h5>
		  <p class="text-center"></p>
		</div>
			<% end %>
	<% if Date.today().wday == 4 %>
		<div class="col-md-4">
		  <img src="img/headshots/caleb_shirey.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Caleb Shirey</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/derek_cazel.jpg" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Derek Cazel</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/leda_altidor.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Leda Altidor</h5>
		  <p class="text-center"></p>
		</div>
			<% end %>
	<% if Date.today().wday == 5 %>
		<div class="col-md-4">
		  <img src="img/headshots/kristin_lammert.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Kristin Lammert</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/hollis_monreal.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Hollis Monreal</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/sheila_hines.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Sheila Hines</h5>
		  <p class="text-center"></p>
		</div>
			<% end %>
	<% if Date.today().wday == 6 %>
		<div class="col-md-4">
		  <img src="img/headshots/sarah_hofma.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Sarah Hofma</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/jonathan_smith.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Jonathan Smith</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/becky_stamey.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Becky Stamey</h5>
		  <p class="text-center"></p>
		</div>
			<% end %>
	<% if Date.today().wday == 0 %>
		<div class="col-md-4">
		  <img src="img/headshots/leda_altidor.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Leda Altidor</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/dan_barber.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Dan Barber</h5>
		  <p class="text-center"></p>
		</div>
		<div class="col-md-4">
		  <img src="img/headshots/melissa_yakel-dvorak.JPG" alt="" class="center-img headshot"/>
		  <h5 class="text-center">Melissa Yakel-Dvorak</h5>
		  <p class="text-center"></p>
		</div>
	<% end %>
	<!--How many are left? 21-->


	</div>

	<div class="col-md-10 col-md-offset-1" style="height:10px;background-color: #509099;margin-top:8px;margin-bottom: 8px;">
	</div>
</div>


<!--Team-->
<div class="row" id="team">
	<div class="col-md-10 col-md-offset-1">
		<img src="img/group-outside.JPG" alt="" class="center-img" width="100%"/>
	</div>
	<div class="col-md-10 col-md-offset-1"
	style="height:10px;background-color: #509099;margin-top:8px;margin-bottom: 8px;">
	</div>
</div>
</div>


  <!--Client Persepective-->

    <div><h3 class="text-center">Client Perspective</h3></div>
        <div id="client_perspective">
          <div class="row">
          	<div class="col-md-8 col-md-offset-2">
            <div class="col-md-9">
              <p class="left-text-align"><em>Partnering with Compliance Solutions was a great decision. Their ability to offer a single vendor end-to-end solution allows my company to focus on our customers and maximize growth. Mark Lammert and his team go above and beyond to make the hectic world of taxation a smooth and effortless process. I’m confident in their results and it makes life much easier knowing that my company is in full compliance. -Telecom Provider in Central Texas</em></p>
            </div>
            <div class="col-md-9 col-lg-offset-4">
              <p class="right-text-align"><em>Compliance Solutions was an easy pick for my company. CSI’s professional and highly experienced staff makes taxation stress free. They are quick to respond and always make me feel comfortable. Not only do they focus on our taxation reports, but also handle all of our notices, license renewals, and tax exemption documents. I would recommend everyone in the industry to Compliance Solutions! -Telecom Provider in North Florida</em></p>
            </div>
            <div class="col-md-9">
              <p class="left-text-align"><em>When choosing a tax partner I was looking for three characteristics, Integrity, Accuracy, and Reliability. Compliance Solutions has all of these qualities plus more! They have added tremendous value to my company by reducing tax liabilities and managing an end-to-end compliance portfolio. In addition, CSI provides a monthly accrued transaction liability report that ties directly into my accounting records and provides full consulting support at NO charge. Compliance Solutions is a fantastic partner and I look forward to working with them for many years to come. -Telecom Provider in Southern California</em></p>
            </div>
            <div class="col-md-9 col-lg-offset-4">
              <p class="right-text-align"><em>We've been partnered with Compliance Solutions for nearly a decade and in doing so it has removed the burden of compliance and allowed us to focus on growth within the industry.  Between exemptions documents with our carriers and reporting to the various tax agencies we have had little to concern ourselves with over the years in those matters.  Working with Mark and his staff is a great choice if you want to reduce your stress caused by the magnitude of tax reporting. -Telecom Provider in Southern Ohio</em></p>
            </div>
        </div>
          </div>
    </div>
<hr />
