<div id="conference">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 blue-header">
			<h2 class="text-center">2018 Client Conference</h2>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<img src="/img/conference_2018_2.png" width="100%">
		</div>
	</div>
</div>