<style>
	#contact_dropdown{
		background-color: #3e8e41;
    	color:white;
	}
</style>

<!--Heading-->
<div class="row">
	<div class="col-md-10 col-md-offset-1" id="contact-header">
		<h2 style="text-align:center;">Contact Us</h2>
	</div>
</div>


<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.646430388001!2d-81.36416588474177!3d28.700221382391145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e7724001d2c913%3A0xfaa9bc8ef8cef42b!2s242+Rangeline+Rd%2C+Longwood%2C+FL+32750!5e0!3m2!1sen!2sus!4v1514346976306" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="col-md-6" style="padding-left:20px;">
		<div><h3>Leave us a message</h3></div>	
			<form>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Name</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Company</label>
			    <input type="text" class="form-control" id="name" placeholder="Name">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">E-Mail</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Message</label>
			    <textarea name="message" style="display:block;"></textarea>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<h3 style="text-align:center;">Directions from Orlando International Airport</h3>
		<p>
1. Take the North Exit access road from MCO (Airport)<br>

2. Use the right lane to merge onto FL-528 E via the ramp to Cocoa/Kennedy Space Center/Florida 417 Toll/Sanford Ucf/Port Canaveral<br>

3. Continue on FL-528 E. Take FL-417 Toll N, FL-408 W and I-4 E to FL-434 E/W State Rd 434 in Seminole County. Take exit 94 from I-4 E<br>

4. Merge onto FL-528 E<br>

5. Use the right 2 lanes to take exit 16 for FL-417 N <br>

6. Merge onto FL-417 Toll N<br>

7. Keep left at the fork to stay on FL-417 Toll N<br> 

8. Take exit 33B to merge onto FL-408 W toward Orlando<br> 

9. Keep left at the fork to stay on FL-408 W<br> 

10. Take exit 10B to merge onto I-4 E toward Daytona Beach<br> 

11. Use the right lane to take exit 94 to merge onto FL-434 E/W State Rd 434<br> 

12. Follow FL-434 E/W State Rd 434 to Rangeline Rd in Longwood<br>

13. Turn left onto Rangeline Rd<br> 

14. Destination is on your Right, 242 Rangeline Road<br>
</p>
	</div>
</div>