<div id="events">

	<div class="row">
	<div id="event-header" class="col-md-10 col-md-offset-1">
		<h2 class="text-center">2018 Events</h2>
	</div>
		<div class="col-md-5 col-md-offset-1" id="event-map">
			<iframe frameborder=0 style='width:100%;height:375px;' src='//www.zeemaps.com/pub?group=2818283'> </iframe>
		</div>
		<div id="ram">
		<div class="col-md-6" style="padding-left: 20px;" id="event-map">
			<div><h3>Request a Meeting</h3></div>	
			<form>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Full Name</label>
			    <input type="text" class="form-control" id="name" placeholder="Name">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Message</label>
			    <input type="text" class="form-control" id="message" placeholder="Message">
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		</div>

		<!--list of events-->
		<div class="col-md-10 col-md-offset-1">
			<table style="width:100%;margin-top:25px;">
			  <tr>
			    <th>Event</th>
			    <th>Location</th> 
			    <th>Date</th>
			    <th>Website</th>
			  </tr>
			  <tr>
			    <td>IT Expo</td>
			    <td>Fort Lauderdale, FL</td> 
			    <td>February 13th-16th</td>
			    <td><a href="http://itexpo.tmcnet.com/east/">http://itexpo.tmcnet.com/east/</a></td>
			  </tr>
			  <tr>
			    <td>CSI Client Appreciation Conference</td>
			    <td>Orlando, FL</td> 
			    <td>February 21st-23rd</td>
			    <td><a href="http://www.csilongwood.com/events">http://www.csilongwood.com/conference_2018</a></td>
			  </tr>
			  <tr>
			    <td>WISP America</td>
			    <td>Birmingham, AL</td> 
			    <td>March 6th-8th</td>
			    <td><a href="http://www.wispa.org/Events/WISPAmerica">http://www.wispa.org/Events/WISPAmerica</a></td>
			  </tr>
			  <tr>
			    <td>Enterprise Connect</td>
			    <td>Orlando, FL</td> 
			    <td>March 12th-14th</td>
			    <td><a href="https://www.enterpriseconnect.com/orlando">https://www.enterpriseconnect.com/orlando</a></td>
			  </tr>
			  <tr>
			    <td>Channel Partners</td>
			    <td>Las Vegas, NV</td> 
			    <td>April 17th-20th</td>
			    <td><a href="https://tmt.knect365.com/channel-partners-conference-expo-2018/">https://tmt.knect365.com/channel-partners-conference-expo-2018/</a></td>
			  </tr>
			  <tr>
			    <td>Telestrategies</td>
			    <td>Orlando, FL</td> 
			    <td>May 14th-16th</td>
			    <td><a href="https://www.telestrategies.com/tax/">https://www.telestrategies.com/tax/</a></td>
			  </tr>
			  <tr>
			    <td>GSMA- Mobile World Congress</td>
			    <td>Los Angeles, CA</td> 
			    <td>September 12th-14th</td>
			    <td><a href="https://www.gsma.com/northamerica/events">https://www.gsma.com/northamerica/events</a></td>
			  </tr>
			</table>
		</div>
	</div>
</div>