<!--Heading-->
<div class="row">
	<div id="services_heading" class="col-md-12">
		<h2 style="margin-top:75px;text-align:center;">Services</h2>
	</div>
</div>

<div class="row" style="margin-top:15px;margin-bottom:15px;">
	<div id="lifecycle" class="col-md-10 col-md-offset-1">
		<div class="col-md-6">
			<img src="/img/lifecycle.png" width="100%">
		</div>
		<div class="col-md-6">
			<h3 style="margin-top:125px;" class="text-center">Service Lifecycle</h3>
			<p class="text-center">Learn More</p>
					<!--download marketing material-->
			<a href="/marketing/services.pdf" download="services">
				<img src="img/download.png" width="80px" class="center-img"/>
				<p class="desc">Download PDF</p>
			</a>
		</div>
	</div>
</div>


<!--Services Listings-->
<hr />

<div class="row service-listing" id="state_registration_reporting">
	<div class="col-md-3">
		<!--icon-->
		<img src="img/services/usa.png" alt="" width="80px" class="center-img img-rounded"/>
		<h5 class="text-center">State Registration/Reporting</h5>
	</div>
	<div class="col-md-6">
		<!--description-->
		<p class="desc">CSI will register your company and ensure your reporting requirements are up-to-date with the Secretary of State (SOS), Department of Revenue (DOR) and Public Utility Commissions (PUC)</p>
		
	</div>
	<div class="col-md-3">
		<!--download marketing material-->
		<a href="/marketing/state_registration_reporting.pdf" download="state_registration_reporting">
			<img src="img/download.png" width="80px" class="center-img"/>
			<p class="desc">Download PDF</p>
		</a>
	</div>
</div>
<hr />

<div class="row service-listing" id="fcc_registration_reporting">
	<div class="col-md-3">
		<!--icon-->
		<img src="img/services/fcc.png" alt="" width="80px" class="center-img img-rounded"/>
		<h5 class="text-center">FCC Registration/Reporting</h5>
	</div>
	<div class="col-md-6">
		<!--description-->
		<p class="desc">CSI will provide and manage your FCC registrations in addition to preparing and filing all your quarterly and annual FCC 477, FCC 499A&Q and CPNI reports.</p>
		
	</div>
	<div class="col-md-3">
		<!--download marketing material-->
		<a href="/marketing/fcc_registration_reporting.pdf" download="fcc_registration_reporting">
			<img src="img/download.png" width="80px" class="center-img"/>
			<p class="desc">Download PDF</p>
		</a>
	</div>
</div>
<hr />

<div class="row service-listing" id="tax_exemption_management">
	<div class="col-md-3">
		<!--icon-->
		<img src="img/services/exempt.png" alt="" width="80px" class="center-img img-rounded"/>
		<h5 class="text-center">Tax Exemption Management</h5>
	</div>
	<div class="col-md-6">
		<!--description-->
		<p class="desc">CSI will directly manage and maintain all your FCC and State wholesale and enterprise customers' exemption information while providing monthly status reports.</p>
		
	</div>
	<div class="col-md-3">
		<!--download marketing material-->
		<a href="/marketing/tax_exemption_management.pdf" download="tax_exemption_management">
			<img src="img/download.png" width="80px" class="center-img"/>
			<p class="desc">Download PDF</p>
		</a>
	</div>
</div>
<hr />




<hr />

<div class="row service-listing" id="transactional_tax_reporting">
	<div class="col-md-3">
		<!--icon-->
		<img src="img/services/laptop.png" alt="" width="80px" class="center-img img-rounded"/>
		<h5 class="text-center">Transactional Tax Reporting</h5>
	</div>
	<div class="col-md-6">
		<!--description-->
		<p class="desc">CSI provides tax reporting and filing services to all the legislative (sales/E911/etc.) and executive (FCC & State USF/etc.) branches of the government associated with your business operations.</p>
		
	</div>
	<div class="col-md-3">
		<!--download marketing material-->
		<a href="/marketing/transactional_tax_reporting.pdf" download="transactional_tax_reporting">
			<img src="img/download.png" width="80px" class="center-img"/>
			<p class="desc">Download PDF</p>
		</a>
	</div>	
</div>
<hr />

<div class="row service-listing" id="treasury_management">
	<div class="col-md-3">
		<!--icon-->
		<img src="img/services/cash.png" alt="" width="80px" class="center-img img-rounded"/>
		<h5 class="text-center">Treasury Management</h5>
	</div>
	<div class="col-md-6">
		<!--description-->
		<p class="desc">CSI’s treasury services provide an efficient process for our clients to remit and have reports on the collected funds they are required to pay to the various agencies.</p>
		
	</div>
	<div class="col-md-3">
		<!--download marketing material-->
		<a href="/marketing/treasury_management.pdf" download="treasury_management">
			<img src="img/download.png" width="80px" class="center-img"/>
			<p class="desc">Download PDF</p>
		</a>
	</div>
</div>
<hr />

<div class="row service-listing" id="audit_defense">
	<div class="col-md-3">
		<!--icon-->
		<img src="img/services/audit.png" alt="" width="80px" class="center-img img-rounded"/>
		<h5 class="text-center">Audit Defense</h5>
	</div>
	<div class="col-md-6">
		<!--description-->
		<p class="desc">CSI has a dedicated team of experienced CPAs and Tax industry experts to direct handle and provide monthly status reports on any client’s Local, State or Federal tax and regulatory audits.</p>
		
	</div>
	<div class="col-md-3">
		<!--download marketing material-->
		<a href="/marketing/audit_defense.pdf" download="audit_defense">
			<img src="img/download.png" width="80px" class="center-img"/>
			<p class="desc">Download PDF</p>
		</a>
	</div>
</div>
<hr />

<div class="row service-listing" id="corporate_tax">
	<div class="col-md-3">
		<!--icon-->
		<img src="img/services/briefcase.png" alt="" width="80px" class="center-img img-rounded"/>
		<h5 class="text-center">Corporate Tax</h5>
	</div>
	<div class="col-md-6">
		<!--description-->
		<p class="desc">Our CPAs listen to your goals and concerns when discussing preparation and filing options with you. Rest easy as your returns are consistent with your financial records in case of an agency review.</p>
		
	</div>
	<div class="col-md-3">
		<!--download marketing material-->
		<a href="/marketing/corporate_tax.pdf" download="corporate_tax">
			<img src="img/download.png" width="80px" class="center-img"/>
			<p class="desc">Download PDF</p>
		</a>
	</div>
</div>
<hr />

<div class="row service-listing" id="property_tax">
	<div class="col-md-3">
		<!--icon-->
		<img src="img/services/blue-tower.png" alt="" width="80px" class="center-img img-rounded"/>
		<h5 class="text-center">Property Tax</h5>
	</div>
	<div class="col-md-6">
		<!--description-->
		<p class="desc">CSI property tax experts will work with your team to review your fixed asset details and other property tax support requirements. </p>
		
	</div>
	<div class="col-md-3">
		<!--download marketing material-->
		<a href="/marketing/property_tax.pdf" download="property_tax">
			<img src="img/download.png" width="80px" class="center-img"/>
			<p class="desc">Download PDF</p>
		</a>
	</div>
</div>
<hr />
</div>