<div id="trbs">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 blue-header">
			<h2 class="text-center">Tax Rating/Billing Solutions</h2>
		</div>
	</div>

	<div class="row service-listing" id="tax_mapping">
		<div class="col-md-3">
			<!--icon-->
			<img src="img/services/clipboard.png" alt="" width="80px" class="center-img img-rounded"/>
			<h5 class="text-center">Tax Mapping</h5>
		</div>
		<div class="col-md-6">
			<!--description-->
			<p class="desc">CSI provides tax mapping to over 75,000 service/code combinations to ensure accurate tax calculations for correct tax filings to defend against tax audits and tax liabilities.</p>
			
		</div>
		<div class="col-md-3">
			<!--download marketing material-->
			<a href="/marketing/tax_mapping.pdf" download="tax_mapping">
				<img src="img/download.png" width="80px" class="center-img"/>
				<p class="desc">Download PDF</p>
			</a>
		</div>
	</div>
	<hr />

	<div class="row service-listing" id="tax_rating">
		<div class="col-md-3">
			<!--icon-->
			<img src="img/services/calc.png" alt="" width="80px" class="center-img img-rounded"/>
			<h5 class="text-center">Tax Rating</h5>
		</div>
		<div class="col-md-6">
			<!--description-->
			<p class="desc">CSI, through its research department and tax rating engine, provides accurate and up-to-date tax rating for over 30,000 sales and tax jurisdictions today.</p>
			
		</div>
		<div class="col-md-3">
			<!--download marketing material-->
			<a href="/marketing/tax_rating.pdf" download="tax_rating">
				<img src="img/download.png" width="80px" class="center-img"/>
				<p class="desc">Download PDF</p>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-md-offset-4" style="padding-left:150px;">
			<a href="/under_construction"><button id="chat-button" class="btn btn-primary">Tax Rate Lookup</button></a>
		</div>
	</div>



</div>