<div id="under_construction">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<img src="/img/under_construction.png" width="100%"/>
		</div>
		<div class="col-md-8 col-md-offset-2">
			<h3 class="text-center"><strong>Clients: to view filed returns or perform a tax rate lookup, go to http://www.csilongwood.com</strong></h3>
		</div>
	</div>
</div>